*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-color: #394648;
    text-align: center;
}
.container{
    height: 70vh;
    /* width: 60vmin; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 16px;
    border-style: none;
    box-shadow: 0 0 10px rgb(0,0 ,0.1 );
    font-size: 8vmin ;
    background-color: #E68F34 ;
}
#reset-btn{
    padding: 10px;
    box-shadow: 0 0 10px rgb(0,0 ,0.1 );
    background-color: #f5bb00;
    font-weight: bold;
    border-radius: 10px;
}

.msg-container {
    margin: 10px 0px;
    font-size: 20px;
    color: white;
    /* display: none; */
    
}

.hide{
    display: none;
}